body, html{
    margin: 0;
    padding: 0;
    margin-top: -5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

Main {
    background-color:#4084dc;
}

header{
    position: fixed;
    top: 0;
    background-color: #000000;
    width: 100%;
    h1{
        font-size: medium;
    }
    h2{
        font-size: small;
    }
    }
    


p {
    line-height: 2;
    text-indent: 2%;
    margin-left: 1cm;
    font-size: medium;
    color: #ffffff;
}

h1 {
    text-align: center;
    color: #ffffff;
    
}

h2 {
    text-align: center;
    font-size: medium;
    color: #ffffff;
}

main {
    margin-top: 5%;
}

a {
    color: #000000;
}

.Magnavox {
    display: flex;
    background-color: #ffffff;
    figure{
        margin: 30px;
    }
    img{
        border: 10px solid rgb(1, 81, 193);
    }
}

.Atari {
    display: flex;
    background-color: #ffffff;
    figure{
        margin: 30px;
    }
    img{
        border: 10px solid rgb(1, 81, 193);
    }
}

.Megadrive {
    display: flex;
    background-color: #ffffff;
    figure{
        margin: 30px;
    }
    img{
        border: 10px solid rgb(1, 81, 193);
    }
}


.video{
    text-align: center;
    margin-bottom: -20px;
}

.catálogo {
    background-color: #000000;
}

.jogos{
    text-align: center;
    margin-bottom: 30px;
}

.jogosps1{
    display: flex;
    figure{
        margin: 30px;
    }
}

.jogosmegadrive{
    display: flex;
    figure{
        margin: 30px;
    }
}

.jogosatari{
    display: flex;
    figure{
        margin: 30px;
    }
}

.jogosmagnavox{
    display: flex;
    figure{
        margin: 30px;
    }
}

.textojogos{
    font-size: small;
    text-align: left;
    color: #ffffff;
}

footer{
    text-align: center;
    background-color: #0090f0;
}

